<% flash.each do |key, value| %>
  <% if value != 'Signed in successfully.' %>
    <div class="alert alert-dismissible alert-<%= key %> fade in" style="position: fixed;top: 50px;z-index: 1">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong><%= value %></strong>
    </div>
  <% end %>
<% end %>