<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if user_signed_in? %>
        <%= link_to 'PROJECT LALO', pages_dashboard_path, class: 'navbar-brand' %>
      <% else %>
        <a class="navbar-brand" href="/">Project name</a>
      <% end %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="<%= 'active' if params[:action] === 'dashboard' %>"><a href="/pages/dashboard">Dashboard</a></li>
          <li class="<%= 'active' if params[:action] === 'inventory' %>"><a href="/pages/inventory">Inventory</a></li>
          <li class="<%= 'active' if params[:action] === 'contacts' %>"><a href="/pages/contacts">Contacts</a></li>
        <% end %>
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= session[:user_email] %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">My Company</a></li>
              <li><a href="#">My Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="<%= 'active' if params[:controller] === 'devise/sessions' %>"><%= link_to 'LOG IN', new_user_session_path %></li>
          <li class="<%= 'active' if params[:controller] === 'devise/registrations' %>"><%= link_to 'SIGN UP', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>