<div class="col-md-4 col-md-offset-4" style="margin-top: 50px">
  <div class="panel panel-default">
    <div class="panel-heading">LOG IN</div>
    <div class="panel-body">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-success' %>
      </div>
    <% end %>
    <br />
    <%= render "devise/shared/links" %>

    </div>
  </div>
</div>